<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title>About Media GUID</title>
</head>

<body>
  <div>
    <p>This is a community site intended to register one unique ID for each
unique work (e.g., movie, TV show/series, written publication, painting), or
any media-related entity (e.g., author, musical group, publisher), and link it
to any associated media-guid, ISBN/ASIN, websites, etc.</p>
    <p>It was developed by David Barnett.</p>
  </div>
</body>
</html>
